
.vs/Gewoon_ Fuji_Mini_Project_RPG/FileContentIndex/60b4632b-06b4-42e7-98da-cc6e16b6c8e8.vsidx
.vs/Gewoon_ Fuji_Mini_Project_RPG/DesignTimeBuild/.dtbcache.v2
.vs/Gewoon_ Fuji_Mini_Project_RPG/FileContentIndex/13c98cc2-171d-4a40-b932-ade1e4e720a0.vsidx
.vs/Gewoon_ Fuji_Mini_Project_RPG/FileContentIndex/936a7350-2351-44c7-86af-bf5baba3a717.vsidx
*.vsidx
*.dll
*.dll
*.v2
.vs/Gewoon_ Fuji_Mini_Project_RPG/FileContentIndex/13c98cc2-171d-4a40-b932-ade1e4e720a0.vsidx
.vs/Gewoon_ Fuji_Mini_Project_RPG/DesignTimeBuild/.dtbcache.v2
.vs/Gewoon_ Fuji_Mini_Project_RPG/FileContentIndex/13c98cc2-171d-4a40-b932-ade1e4e720a0.vsidx
.vs/Gewoon_ Fuji_Mini_Project_RPG/v17/.suo
bin/Debug/net7.0/Gewoon_ Fuji_Mini_Project_RPG.dll
bin/Debug/net7.0/Gewoon_ Fuji_Mini_Project_RPG.pdb
obj/Debug/net7.0/Gewoon_ Fuji_Mini_Project_RPG.dll
obj/Debug/net7.0/Gewoon_ Fuji_Mini_Project_RPG.pdb
.vs/Gewoon_ Fuji_Mini_Project_RPG/DesignTimeBuild/.dtbcache.v2
